[submodule "sysyruntimelibrary"]
	path = sysyruntimelibrary
	url = https://gitlab.eduxiji.net/calcifer/sysyruntime2021.git
[submodule "sysyruntime2021"]
	path = sysyruntime2021
	url = https://gitlab.eduxiji.net/calcifer/sysyruntime2021
